<h1><%= @work.title %></h1>
<h2>Details</h2>
<%=  render :partial => 'details.html' %>

<% if @active_agreements.length > 0 %>
  <h2>Submitted Agreements (<%= @active_agreements.length %>)</h2>
  <% @active_agreements.each_with_index { |agreement,i| %>
    <%
      @agreement = agreement
      @agreementid = agreement.agreementid
      @copysets = Copyset.find(:all, :conditions=>{:agreementid=>@agreement.agreementid})
      @trimrecords = @agreement.active_trimrecords
      @permissions = @agreement.active_permissions 

      @rightsholders = Array.new
      Party.find_parties_attached_to_agreement(@agreement.agreementid).each do |party|
        rh = Rightsholder.get_rightsholder_by_partyid(party.partyid)
        @rightsholders.push(rh.clone)
      end
  
    %>
    <h3><%= i + 1 %>. <%= agreement.collection %> <%= format_date(agreement.agreementdate) %></h3>
    <%= render :partial=>"agreement/show.html"  %>
  <% } %>
<% end %>