<div style="padding: 0 1em">
  <h2>All Active Roles Report</h2>
  <div id="works" class="section <% if @roles.length == 0 %>collapsed<% end %>">
    <div class="section-header">
      <h3 class="section-title">Roles: <%= @roles.length %> </h3>
      <ul class="actions horizontal-menu">
        <li class="action">
          <a href="javascript:void(0)" class="toggle-collapse-expand">
            <%= image_tag "hide.gif", :class=>"toggle-collapse", :alt=>"Hide this section" %>
            <%= image_tag "show.gif", :class=>"toggle-expand", :alt=>"Show this section" %>
          </a>
        </li>
      </ul>
    </div>
    <div class="section-content">

        <%
        dialogOnCloseCallback = nil if local_assigns[:dialogOnCloseCallback].nil?

        dialog_callback_option = ""
        if not dialogOnCloseCallback.nil? then
          dialog_callback_option = ", close: "+dialogOnCloseCallback
        end
      %>
      <table width="100%" class="data">
        <thead>
          <tr>
            <th width="30%">Rightsholder</th>
            <th width="15%">Role</th>
            <th width="15%">Work(s)</th>
            <th width="9%" class="audit hide">Date</th>
            <th width="9%" class="audit hide">User</th>
            <th width="2%" class="no-sort"><%= image_tag "clock_edit.png", :title=>"Toggle audit fields", :class=>"audit-toggle", :onclick=>"toggleAuditFields(this);" %></th>
          </tr>
        </thead>
        <tbody>
        <%
          if !@roles.nil?
            @roles.each_with_index do |role, index|
                rh = Rightsholder.get_rightsholder_by_partyid(role.partyid.to_i)
              %>
                <tr <%= if (index - 1) % 2 == 0 then "class='even'" else "class='odd'" end  %> onmouseover="$(this).addClass('hovered')" onmouseout="$(this).removeClass('hovered')">
                  <td valign="top"><%= get_rh_url(rh.name, (rh.life_dates.blank? ? "" : rh.life_dates), rh.id) %></td>
                  <td valign="top"><%= role.role_lu.label %></td>
                  <td valign="top">
                    <% role.copyset.each do |copyset|

                      # Display Active links to works
                      if copyset.status_lu_id == 1
                        %><a href="<%= get_work_url(copyset.copydetails.copypid) %>"><%= copyset.copydetails.copypid %></a><br/><%
                      end
                     end %>
                  </td>
                  <td valign="top" class="audit hide"><%= format_date_for_display(role.auditdate) %></td>
                  <td valign="top" class="audit hide"><%= role.audituser %></td>
                  <td valign="top">
                    <ul class="table-actions horizontal-menu">
                      <%= action_input_only(image_tag("page_edit.png"),url_for(:controller => :roles, :action => :edit, :id => role.roleid),"Edit Role", true, "{title: 'Edit Role'"+dialog_callback_option+"}") %>
                      <%= action_input_only(image_tag("delete.gif"),url_for(:controller => :roles, :action => :delete, :id => role.roleid),"Delete Role", true, "{title: 'Delete Role', width: 300, height: 200"+dialog_callback_option+"}") %>
                    </ul>
                  </td>
                </tr>
              <%
            end
          end
        %>
        </tbody>
      </table>



   </div>
  </div>
</div>


