<p class="question-text">3. The Library may:</p>

<div class="wizard-radio-option">
  <%= check_box_tag "q3_a", "a", false %>
  <%= label_tag "q3_a", "use or reproduce the material for the forthcoming National Library of Australia exhibition " %>
  <%= text_field_tag "q3_a_inclusions" %>
  <%= label_tag "q3_a", ", including any catalogue or other publication in conjunction with this exhibition" %>
</div>
<div class="wizard-radio-option">
  <%= check_box_tag "q3_b", "b", false %>
  <%= label_tag "q3_b", "reproduce the material in the forthcoming print publication " %>
  <%= text_field_tag "q3_b_inclusions" %>
  <%= label_tag "q3_b", " under Australian rights, with a print run of up to 10 000 copies" %>
</div>
<div class="wizard-radio-option">
  <%= check_box_tag "q3_c", "c", false %>
  <%= label_tag "q3_c", "in connection with the print publication of / exhibition / project " %>
  <%= text_field_tag "q3_c_inclusions" %>
  <%= label_tag "q3_c", ", reproduce, communicate or display the material electronically and/or digitally in any way in any format or medium" %>
</div>
<div class="wizard-radio-option">
  <%= check_box_tag "q3_d", "d", false %>
  <%= label_tag "q3_d", "use the material in merchandise such as gift cards issued by the Library, whether for sale or for provision free of charge" %>
</div>
<div class="wizard-radio-option">
  <%= check_box_tag "q3_e", "e", false %>
  <%= label_tag "q3_e", "use the material as a credited detail, with or without the full image included" %>
</div>
<div class="wizard-radio-option">
  <%= check_box_tag "q3_f", "f", false %>
  <%= label_tag "q3_f", "use the material in promotional and/or educational activity in any format or medium, whether electronic or print, in connection with the above-named publication, project or exhibition" %>
</div>