<p class="question-text">24. May the Library provide copies of the Material for people and organisations other than the Library to use in publications, films, performances, transmissions, broadcasts and in other public ways, including uses in online media?</p>

<div class="wizard-radio-option">
  <%= radio_button_tag "q24", "a", false %>
  <%= label_tag "q24_a", "Yes, except the following parts of the Material which require my specific permission:" %>
  <div id="q24a" class="wizard-question-subform">
    <%= text_area_tag "q24_a_exceptions", "", :rows=>5, :cols=>70 %><br/>
    <p>until the following date or event:</p>
    <%= text_field_tag "q24_a_eventdate", "", :class=>"datepicker", :editable => false %><br/>
    <%= text_area_tag "q24_a_eventtext", "", :rows=>5, :cols=>70 %>
  </div>
</div>
<div class="wizard-radio-option">
  <%= radio_button_tag "q24","b", false %>
  <%= label_tag "q24_b", "Yes, for the following parts of the Material:" %>
  <div id="q24b" class="wizard-question-subform">
    <%= text_area_tag "q24_b_inclusions", "", :rows=>5, :cols=>70 %><br/>
    <p><%= label_tag "q24_b","the rest of the Material requires my specific permission until the following date or event" %></p>
    <%= text_field_tag "q24_b_eventdate", "", :class=>"datepicker" %><br/>
    <%= text_area_tag "q24_b_eventtext", "", :rows=>5, :cols=>70 %>
    <p><%= label_tag "q24_b", "after which, without seeking my permission." %></p>
  </div>
</div>
<div class="wizard-radio-option">
  <%= radio_button_tag "q24", "c", false %>
  <%= label_tag "q24_c", "Yes, but only with my specific permission until the following date or event:" %>
  <div id="q24c" class="wizard-question-subform">
    <%= text_field_tag "q24_c_eventdate", "", :class=>"datepicker", :editable => false %><br/>
    <%= text_area_tag "q24_c_eventtext", "", :rows=>5, :cols=>70 %>
  </div>
</div>
<div class="wizard-radio-option">
  <%= radio_button_tag "q24", "d", false %>
  <%= label_tag "q24_d", "No, the Library must refer all requests to me." %>
</div>