<p class="question-text">9. May the Library provide copies of the Material for use in performances, transmissions, broadcasts, publications, films and in other public ways, including uses in online media?</p>

<div class="wizard-radio-option">
  <%= radio_button_tag "q9", "a", false %>
  <%= label_tag "q9_a", "Yes" %>
</div>
<div class="wizard-radio-option">
  <%= radio_button_tag "q9", "b", false %>
  <%= label_tag "q9_b", "Yes, but only if the Library has received my specific permission on each occasion" %>
</div>
<div class="wizard-radio-option">
  <%= radio_button_tag "q9", "c", false %>
  <%= label_tag "q9_c", "Yes, but only after the following date or event:" %>
  <div id="q9c" class="wizard-question-subform">
    <%= text_field_tag "q9_c_eventdate", "", :class=>"datepicker" %><br/>
    <%= text_area_tag "q9_c_eventtext", "", :rows=>5, :cols=>70 %>
  </div>
</div>
